mixin aboutHome 
  section.about-sec
    .about-img
      figure(style='background:url(/images/about-img.jpg)no-repeat;')
    .about-content
      h2 About bookstore,
      p
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and Scrambled it to make a type and typesetting industry. Lorem Ipsum has been the book.
      p
        | It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and
      .btn-sec
        a.btn.yellow(href='shop.html') shop books
        a.btn.black(href='login.html') subscriptions


mixin aboutPage
  section.static.about-sec
    .container
      h1 Shipping & Returns
      strong What are the delivery charges?
      p
        | Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.
      strong What are the delivery charges?
      p
        | Spiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      strong  Donec fringilla mauris non urna tincidunt vehicula.
      ul
        li Mauris elementum augue bibendum ante congue mollis.
        li Nunc venenatis purus a mauris malesuada vehicula.
        li Nullam ut augue non nunc vehicula faucibus.
        li Nulla vel turpis nec risus auctor volutpat sit amet ornare tortor.
