mixin faq 
  section.static.about-sec
    .container
      h1 FAQ
      h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      p
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
      h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      p
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
