mixin footer 
  footer
    .container
      .row
        .col-md-4
          .address
            h4 Our Address
            h6 The BookStore, Mau Luong, Ha Dong, Ha Noi
            h6 Call : (+084) 393 837 623
            h6 Email : ltk.gym@gmail.com
          .timing
            h4 Timing
            h6 Mon - Fri: 7am - 10pm
            h6 ​​Saturday: 8am - 10pm
            h6 ​Sunday: 8am - 11pm
        .col-md-3
          .navigation
            h4 Navigation
            ul
              li
                a(href='index.html') Home
              li
                a(href='about.html') About Us
              li
                a(href='privacy-policy.html') Privacy Policy
              li
                a(href='terms-conditions.html') Terms
              li
                a(href='products.html') Products
          .navigation
            h4 Help
            ul
              li
                a(href='') Shipping & Returns
              li
                a(href='privacy-policy.html') Privacy
              li
                a(href='faq.html') FAQ’s
        .col-md-5
          .form
            h3 Quick Contact us
            h6
              | We are now offering some good discount
              | on selected books go and shop them
            form
              .row
                .col-md-6
                  input(placeholder='Name', required='')
                .col-md-6
                  input(type='email', placeholder='Email', required='')
                .col-md-12
                  textarea(placeholder='Messege')
                .col-md-12
                  button.btn.black Alright, Submit
    .copy-right
      .container
        .row
          .col-md-6
            h5 (C) 2020. All Rights Reserved. BookStore Wordpress Theme
          .col-md-6
            .share.align-middle
              span.fb
                i.fa.fa-facebook-official
              span.instagram
                i.fa.fa-instagram
              span.twitter
                i.fa.fa-twitter
              span.pinterest
                i.fa.fa-pinterest
              span.google
                i.fa.fa-google-plus
  
