mixin recommended
  section.recomended-sec
    .container
      .title
        h2 highly recommendes books
        hr
      .row
        .col-lg-3.col-md-6
          .item
            img(src='images/img1.jpg', alt='img')
            h3 how to be a bwase
            h6
              span.price $49
              |  / 
              a(href='#') Buy Now
            .hover
              a(href='product-single.html')
                span
                  i.fa.fa-long-arrow-right(aria-hidden='true')
        .col-lg-3.col-md-6
          .item
            img(src='images/img2.jpg', alt='img')
            h3 How to write a book...
            h6
              span.price $19
              |  / 
              a(href='#') Buy Now
            span.sale Sale !
            .hover
              a(href='product-single.html')
                span
                  i.fa.fa-long-arrow-right(aria-hidden='true')
        .col-lg-3.col-md-6
          .item
            img(src='images/img3.jpg', alt='img')
            h3 7-day self publish...
            h6
              span.price $49
              |  / 
              a(href='#') Buy Now
            .hover
              a(href='product-single.html')
                span
                  i.fa.fa-long-arrow-right(aria-hidden='true')
        .col-lg-3.col-md-6
          .item
            img(src='images/img4.jpg', alt='img')
            h3 wendy doniger
            h6
              span.price $49
              |  / 
              a(href='#') Buy Now
            .hover
              a(href='product-single.html')
                span
                  i.fa.fa-long-arrow-right(aria-hidden='true')
