mixin slider
  section.slider
    .container
      #owl-demo.owl-carousel.owl-theme
        .item
          .slide
            img(src='/images/slide1.jpg', alt='slide1')
            .content
              .title
                h3 welcome to bookstore
                h5 Discover the best books online with us
                a.btn(href='#') shop books
        .item
          .slide
            img(src='/images/slide2.jpg', alt='slide1')
            .content
              .title
                h3 welcome to bookstore
                h5 Discover the best books online with us
                a.btn(href='#') shop books
        .item
          .slide
            img(src='/images/slide3.jpg', alt='slide1')
            .content
              .title
                h3 welcome to bookstore
                h5 Discover the best books online with us
                a.btn(href='#') shop books
        .item
          .slide
            img(src='/images/slide4.jpg', alt='slide1')
            .content
              .title
                h3 welcome to bookstore
                h5 Discover the best books online with us
                a.btn(href='#') shop books
